.contact-section {
    padding: 7em 0;
    border-radius: 10px;
  }
  
  .wrapper {
    width: 100%;
    box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
  }
  
  .contact-wrap {

    border-radius: 10px;
  }
  
.contact-wrap h3{
      color: #000;
}
  .form-control {
    height: 62px;
    background: transparent;
    color: #000 !important;
    font-size: 16px;
    border-radius: 0px;
    box-shadow: none !important;
    
  }
   form-control:focus,
    form-control:active {
      background: transparent;
    }

  
  textarea.form-control {
    height: inherit !important;
    margin-top: 5px;
  }
  
  .contactForm .form-control {
      border: none;
      border-bottom: 1px solid rgba(236, 187, 50, 0.2);
      padding: 0;
    }
  
  .btn {
    padding: 12px 16px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    position: relative;
    margin-top: 20px;
  }
  .info-wrap{
       background: rgb(95, 66, 3);
       border-radius: 10px;
  }
  .btn-primary {
    background: #FFB342 !important;
    border-color: #FFB342 !important;
    color: #fff;
    width: 100%;
    margin-top: 20px;
  }
  
  .info-wrap h3 {
      color: #fff;
      position: relative;
    }
      .info-wrap:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 60px;
        height: 3px;
        background: var(--secondaryColor);
        content: "";
      }
    
.info-wrap .dbox {
      width: 100%;
      margin-bottom: 25px;
}
.info-wrap .dbox:last-child() {
        margin-bottom: 0;
      }

    .info-wrap .dbox  span{
          font-weight: 400;
          color: #fff;
      }

     .info-wrap .dbox .icon {
        width: 50px;
        height: 50px;
        color: white;
        font-size: 20px;
      }

  #contactForm .form-control {
      font-size: 16px;
    }
  
 input::placeholder ,textarea::placeholder { 
  color:rgb(94, 93, 93) !important;
}